// Main grey color
$color-alt-r: 62;
$color-alt-g: 62;
$color-alt-b: 62;
$color-alt: rgb($color-alt-r,$color-alt-g,$color-alt-b);

// Main misc. colors
$color-white-r: 255;
$color-white-g: 255;
$color-white-b: 255;
$color-white: rgb($color-white-r,$color-white-g,$color-white-b);

$color-blue-dark-r: 37;
$color-blue-dark-g: 100;
$color-blue-dark-b: 131;
$color-blue-dark: rgb($color-blue-dark-r,$color-blue-dark-g,$color-blue-dark-b);

$color-greenblue-r: 37;
$color-greenblue-g: 153;
$color-greenblue-b: 153;
$color-greenblue: rgb($color-greenblue-r,$color-greenblue-g,$color-greenblue-b);

$color-orange-r: 248;
$color-orange-g: 130;
$color-orange-b: 24;
$color-orange: rgb($color-orange-r,$color-orange-g,$color-orange-b);

$color-green-r: 104;
$color-green-g: 144;
$color-green-b: 69;
$color-green: rgb($color-green-r,$color-green-g,$color-green-b);