.greenblue {
  background-color: $color-greenblue;
}

.greenblue--alt {
  background-color: $color-white;
}

.blue-dark {
  background-color: $color-blue-dark;
}

.blue-dark--alt {
  background-color: $color-white;
}

.green {
  background-color: $color-blue-dark;
}

.green--alt {
  background-color: $color-white;
}